.modal-content{
    overflow-y: initial !important
}
.modal-body{
    height: 400px;
    overflow-y: auto;
}

.help-block{ 
		color:#C9302C; 
}
#personal-information
{
		border-top: 1px solid #d6d6d6;
}
.float-left{
	float: left;
}
.padding-left{
	padding-left: 110px;
}
.padding-top{
	padding-top: 20px;
}